# EDA for census.csv

Exploring the csv file using a Pandas dataframe

In [2]:
import os
import pandas as pd

In [3]:
if os.path.exists('../data/census.csv') and os.access('../data/census.csv', os.R_OK):
    census_orig = pd.read_csv('../data/census.csv')
else:
    print(os.getcwd())

In [4]:
census_orig.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
census_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlgt           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
census_orig.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
label = census_orig['salary']

cat_df = census_orig[cat_features]
cont_df = census_orig.drop(columns=cat_features).drop(columns='salary')

In [11]:
for col_name in cat_df.columns:
    print(f"Column: {col_name}")
    # print(cat_df[col_name].value_counts().index)
    print(cat_df[col_name].value_counts().index.values)

Column: workclass
['Private' 'Self-emp-not-inc' 'Local-gov' '?' 'State-gov' 'Self-emp-inc'
 'Federal-gov' 'Without-pay' 'Never-worked']
Column: education
['HS-grad' 'Some-college' 'Bachelors' 'Masters' 'Assoc-voc' '11th'
 'Assoc-acdm' '10th' '7th-8th' 'Prof-school' '9th' '12th' 'Doctorate'
 '5th-6th' '1st-4th' 'Preschool']
Column: marital-status
['Married-civ-spouse' 'Never-married' 'Divorced' 'Separated' 'Widowed'
 'Married-spouse-absent' 'Married-AF-spouse']
Column: occupation
['Prof-specialty' 'Craft-repair' 'Exec-managerial' 'Adm-clerical' 'Sales'
 'Other-service' 'Machine-op-inspct' '?' 'Transport-moving'
 'Handlers-cleaners' 'Farming-fishing' 'Tech-support' 'Protective-serv'
 'Priv-house-serv' 'Armed-Forces']
Column: relationship
['Husband' 'Not-in-family' 'Own-child' 'Unmarried' 'Wife' 'Other-relative']
Column: race
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
Column: sex
['Male' 'Female']
Column: native-country
['United-States' 'Mexico' '?' 'Philippines' 'Germany' 'Canada'
 'Puerto-Rico' 'El-Salvador' 'India' 'Cuba' 'England' 'Jamaica' 'South'
 'China' 'Italy' 'Dominican-Republic' 'Vietnam' 'Guatemala' 'Japan'
 'Poland' 'Columbia' 'Taiwan' 'Haiti' 'Iran' 'Portugal' 'Nicaragua' 'Peru'
 'France' 'Greece' 'Ecuador' 'Ireland' 'Hong' 'Trinadad&Tobago' 'Cambodia'
 'Thailand' 'Laos' 'Yugoslavia' 'Outlying-US(Guam-USVI-etc)' 'Honduras'
 'Hungary' 'Scotland' 'Holand-Netherlands']

In [9]:
cont_df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
census_orig['salary'].value_counts()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64